RewriteEngine On
RewriteRule ^()$ /index.php
RewriteRule ^(actu)$ /index.php?cat=$1
RewriteRule ^(buzz)$ /index.php?cat=$1
RewriteRule ^(tech)$ /index.php?cat=$1
RewriteRule ^(apps)$ /index.php?cat=$1
RewriteRule ^(secu)$ /index.php?cat=$1

errorDocument 404 /pages/404.html
