body {
    background-color: #cfdee7;
}

header {
    background-color: #07a0c3;
}

.h1 {
    color: #ffffff;
}

nav {
    background-color: #086788;
}

.navText {
    color: #ffffff;
}

.buttonParamaters {
    background-color: #ffffff;
    color: #086788;
}