header {
    height: 20vh;
    width: auto;
}
header a:hover {
    text-decoration: none;
}
.iconFlux {
    height: 30px;
    width: 30px;
    margin-left : 1rem;
}


.imgMedia {
    width: 100px;
    display: inline-flex;
}

.media-body img {
display: none;
}

.iconSearch {
    height: auto;
    width: 30px;
}

.badge {
    display: inline;
}