header {
    height: 20vh;
    width: auto;
}
header div img {
    filter: invert();
}
header a:hover {
    text-decoration: none;
}
.iconFlux {
    height: 30px;
    width: 30px;
    margin-left : 1rem;
}
.nav-link:hover {
    background-color: aliceblue;
    color: black !important;   
}
.media a:hover {
    text-decoration: none;
    filter: invert();
}
.imgMedia {
    width: 100px;
    display: inline-flex;
}

.media-body img {
display: none;
}

.iconSearch {
    height: auto;
    width: 30px;
}

.badge {
    display: inline;
}