header {
    height: 20vh;
    width: auto;
}

.iconFlux {
    height: 30px;
    width: 30px;
    margin-left : 1rem;
}

.topic .topicMedia {
    width: auto;
}

.imgMedia {
    width: 100px;
}

.media-body img {
display: none;
}