body {
    background-color: #cfdee7;
}

header {
    background-color: #ba0000;
}

.h1 {
    color: #fdffff;
}

nav {
    background-color: #353535;
}

.navText {
    color: #ffffff;
}

.buttonParamaters {
    background-color: #ffffff;
    color: #353535;
}