body {
    background-color: #cfdee7;
}

.h1 {
    color: #fdffff;
}

nav {
    background-color: #353535;
}

.bg-custom {
    background-color: #ba0000;
}

.colorWhiteCustom {
    color: #ffffff;
}

.buttonParamaters {
    background-color: #ba0000;
    color: #ffffff;
}

.buttonParamaters:hover {
    background-color: #ffffff;
    color: #ba0000;
    border: 1px solid #ba0000;
}

.buttonModalParamaters {
    background-color: #ba0000;
    color: #ffffff;
}

.buttonModalParamaters:hover {
    background-color: #ffffff;
    color: #ba0000;
    border: 1px solid black;
}

.buttonArticle {
    background-color: #ba0000;
    color: #ffffff;
}

.buttonArticle:hover {
    background-color: #ffffff;
    color: #ba0000;
    border: 1px solid black;
}

.buttonModalArticle {
    background-color: #ba0000;
    color: #ffffff;
}

.buttonModalArticle:hover {
    background-color: #ffffff;
    color: #ba0000;
    border: 1px solid black;
}